<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<body th:with="showHeader=true, showFooter=true">
	<th:block layout:fragment="content">
		<section class="common">
			<article>
				<div class="content" id="content" style="margin-top: 20px;">
					<div class="admin-container member-list">
						<!-- search-bar start -->
						<div id="board-search" style="padding-bottom: 20px;">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-md-6">
										<div class="input-group" style="width: 100%;">
											<input type="text" class="form-control" id="keyword" name="keyword"
												th:value="${keyword}" placeholder="회원 이름을 입력해주세요.">
											<!-- 검색 버튼 start -->
											<div class="input-group-append" style="margin-left: 10px;">
												<button type="button" class="btn btn-primary" id="ProdsearchBtn">검색</button>
											</div>
											<!-- 검색 버튼 end -->
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- search-bar end -->
						<div class="table-responsive">
							<table class="table table-hover table-bordered" style="margin: 0 auto; width: 80%;">
								<thead class="thead-light">
									<tr>
										<th class="text-center">선택</th>
										<th class="text-center">종류</th>
										<th class="text-center">상품명</th>
										<th class="text-center">상품코드</th>
										<th class="text-center">가격</th>
										<th class="text-center">재고수량</th>
										<th class="text-center">대표이미지</th>
										<th class="text-center">상세이미지</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="prod : ${prodInfoPage}">
										<td class="text-center">
											<input type="checkbox" class="prodCheckbox" th:value="${prod.id}" />
										</td>
										<td class="text-center" th:text="${prod.prodType}"></td>
										<td class="text-center" th:text="${prod.prodNm}"></td>
										<td class="text-center" th:text="${prod.prodCd}"></td>
										<td class="text-center" th:text="${prod.prodPrice}"></td>
										<td class="text-center" th:text="${prod.productQuantity}"></td>
										<td class="text-center" th:text="${prod.prodImgs.imgName}"></td>
										<td class="text-center" th:text="${prod.prodImgs.imgDetailNm}"></td>
									</tr>
								</tbody>
							</table>

							<div class="d-flex justify-content-end mt-3" style="width: 80%; margin: 0 auto;">
								<button class="btn btn-info mx-2 text-white" id="detailBtn" data-toggle="modal"
									data-target="#regModal" onclick="detailProdModal()">상세보기</button>
								<button class="btn btn-primary mx-2 text-white" id="regBtn" data-toggle="modal"
									data-target="#regModal" onclick="regProdModal()">등록</button>
								<button class="btn btn-danger mx-2 text-white" id="prodDelBtn">삭제</button>
							</div>
						</div>
						<!-- 페이지 네비게이션 start-->
						<nav aria-label="Page navigation" class="mt-4" th:if="${!noProds && totalPages > 1}">
						    <ul class="pagination justify-content-center m-0">
						        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
						            <a class="page-link" th:href="@{/prodList(page=${currentPage - 1}, size=${size}, keyword=${keyword})}">이전</a>
						        </li>
						        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
						            th:classappend="${pageNum == currentPage} ? 'active'">
						            <a class="page-link" th:href="@{/prodList(page=${pageNum}, size=${size}, keyword=${keyword})}" th:text="${pageNum + 1}"></a>
						        </li>
						        <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
						            <a class="page-link" th:href="@{/prodList(page=${currentPage + 1}, size=${size}, keyword=${keyword})}">다음</a>
						        </li>
						    </ul>
						</nav>
						<!-- 페이지 네비게이션 end -->
					</div>
				</div>
			</article>
		</section>

		<!-- modal start -->
		<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				</div>
			</div>
		</div>
		<!-- modal end-->

	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/js/prodMNG.js}"></script>
	</th:block>
</body>

</html>