<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">

	<head>
		<title>관리자 전용</title>
		<meta charset="UTF-8">
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--		<link rel="stylesheet" href="/css/bootstrap.min.css">-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<!-- jQuery 먼저 로드 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JavaScript 나중에 로드 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>



		<style>
			.header {
				background-color: #e9ecef;
				/* 헤더 배경색 */
				padding: 2%;
				/* 상하 여백 */
				position: sticky;
			}

			.header h1 {
				color: black;
				/* 텍스트 색상 */
				margin: 0;
				/* 기본 여백 제거 */
			}
		</style>
	</head>

	<header>
		<div class="header text-center">
			<div class="d-flex justify-content-between align-items-center">
				<div class="flex-grow-1 text-center">
					<h1 class="fw-bold">관리자 전용</h1>
				</div>
				<div class="icons">
					<!-- logout btn -->
					<a class="logout" sec:authorize="isAuthenticated()" th:href="@{/logout}">
						<i data-feather="log-out"></i>
					</a>
				</div>
			</div>

			<!-- 관리 탭 start -->
			<div class="container mt-4" sec:authorize="isAuthenticated()">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<ul class="nav nav-pills justify-content-around">
							<!-- 회원관리 -->
							<li class="nav-item">
								<a class="nav-link p-3 fw-bold fs-4 text-dark" th:href="@{/userList}">
									회원관리
								</a>
							</li>
							<!-- 상품관리 -->
							<li class="nav-item">
								<a class="nav-link p-3 fw-bold fs-4 text-dark" th:href="@{/prodList}">
									상품관리
								</a>
							</li>
							<!-- 주문현황 -->
							<li class="nav-item">
								<a class="nav-link p-3 fw-bold fs-4 text-dark" th:href="@{/qnaList}">
									문의내용관리
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 관리 탭 end -->
	</header>
</th:block>

</html>